body{
    background-color: rgb(75, 73, 73);
    font-family: 'Times New Roman', Times, serif;
}
ul li {
    display: inline;
    margin: 10px;
    
}
li a{
    text-decoration: none;
    color: white;
}
header{
    text-align: right;
}
section.phan2{
    float: left;
    width: 800px;
    height: 485px;
    border: 1px solid white;
    padding: 0px 0px 0px 20px;
    border-radius: 20px;
    background-color: rgb(252, 242, 242);
    margin-left: 10px;
}
section.phan3{
    float: left;
    border: 1px solid white;
    padding: 0px 0px 0px 20px;
    border-radius: 20px;
    background-color: rgb(156, 145, 145);
    width: 900px;
    margin-left: 20px;
}
h2{
    color: white;
}
p{
    color: white;
}
footer{
    padding: 0px 0px 0px 20px;
    border-radius: 20px;
    background-color:#383636;
    text-align: center;
    clear: both;
    padding: 10px 10px 10px 10px;
}