/* 
    .morning{
        color: rgb(22, 166, 192);
    }
    .evening{
        color: yellow;
    }
    .afternoon{
        color: red;
    } */
    .greeting{
        font-size: 24px;
    }
    .morning{
        color: rgb(22, 166, 192);
    }
    .evening{
        color: yellow;
    }
    .afternoon{
        color: red;
    }
    .time{
        font-size: 18px;
        color: blueviolet;
    }