.greeting {
    font-size: 24px;
}

.morning {
    color: green;
}

.afternoon {
    color: rgba(40, 159, 214, 0.651);
}

.evening {
    color: red;
}

.seconds span {
    animation: changeColor 2s linear infinite;
}

@keyframes changeColor {
    0% {
        color: red;
    }
    100% {
        color: green;
    }
}